<div class="container">

  <div class="row">
    <div class="col s12">
        <h5>Fazer perdido</h5>
    </div>

    <div class="col s12">
        <div class="row">
            <div class="input-field col s6">
              <input id="nome" type="text" class="validate">
              <label class="active" for="nome">Nome</label>
            </div>
            <div class="input-field col s6">
              <input id="endereco" type="text" class="validate">
              <label class="active" for="endereco">Endereço</label>
            </div>
          </div>
    </div>

    <div class="col s6"> 
      <div class="row">
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Lista de lanche</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Tipo de pão</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s8">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Queijo</label>
          </div>
          <div class="col s4">
              <input type="checkbox" id="dobrarQueijo" />
              <label for="dobrarQueijo">Dobrar</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s8">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Recheio</label>
          </div>
          <div class="col s4">
              <input type="checkbox" id="dobrarRecheio" />
              <label for="dobrarRecheio">Dobrar</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s8">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Salada</label>
          </div>
          <div class="col s4">
              <input type="checkbox" id="dobrarSalada" />
              <label for="dobrarSalada">Dobrar</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Molhos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Temperos</label>
        </div>

        <div class="input-field col s6">
          <input id="valorLanche" disabled type="text" class="validate">
          <label class="active" for="valorLanche">Valor do lanche</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" 
          name="action">Salvar
        </button>

      </div>
    </div>

    <div class="col s6">

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            First
            <span class="badge"></span></div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header">
            Second
            <span class="badge"></span></div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>

      <div class="input-field col s6">
        <input id="valorTotal" disabled type="text" class="validate">
        <label class="active" for="valorTotal">Valor do pedido</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" 
        name="action" (click)="finalizarPedido()" >Finalizar
      </button>
      
    </div>

  </div>
</div>