<div class="container">

    <div class="row">

        <div class="col s6">
          <p>Olá pessoa</p>
          <p>O valor total do seu pedido é de R$x</p>
          <p>Qual a forma de pagamento?</p>
          <p>
            <input class="with-gap" name="group1" type="radio" id="pagamento1" />
            <label for="pagamento1">Crédito</label>
          </p>
          <p>
            <input class="with-gap" name="group1" type="radio" id="pagamento2" />
            <label for="pagamento2">Débito</label>
          </p>
          <p>
            <input class="with-gap" name="group1" type="radio" id="pagamento3" />
            <label for="pagamento3">Dinheiro</label>
          </p>

          <div *ngIf="isDinheiro" >
            <p>Precisa de troco?</p>
            <p>
              <input class="with-gap" name="group2" type="radio" id="troco1" />
              <label for="troco1">Sim</label>
  
              <input class="with-gap" name="group2" type="radio" id="troco2" />
              <label for="troco2">Não</label>
            </p>
          </div>
        </div>

        <div class="col s6">
          <p>Seu pedido já esta em andamento</p>
          <p>Use nossa calculadora caso quira dividir o valor</p>
          <div class="input-field col s12">
            <input disabled id="valor_pedido" type="text" class="validate">
            <label for="valor_pedido">Valor do pedido</label>
          </div>
          <div class="input-field col s12">
            <input id="qtd_pessoas" type="number" class="validate">
            <label for="qtd_pessoas">Quantidade de pessoas</label>
          </div>
          <div class="input-field col s12">
            <input disabled id="valor_pessoa" type="text" class="validate">
            <label for="valor_pessoa">Valor por pessoa</label>
          </div>

          <div class="input-field col s4">
              <p>Pessoa1</p>
          </div>
          <div class="input-field col s4">
            <input id="pessoa1" type="text" class="validate">
            <label for="pessoa1">Valor</label>
          </div>
          <div class="input-field col s4">
            <input id="pessoa1" type="text" class="validate">
            <label for="pessoa1">%</label>
          </div>

        </div>

    </div>

</div>