<ul id="dropdown1" class="dropdown-content">
    <li><a>Portugues</a></li>
    <li><a>English</a></li>
</ul>
<nav>
    <div class="nav-wrapper deep-orange" >
        <a routerLink="" class="brand-logo center">Lucene Lanches</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li routerLinkActive="active"  *ngIf="!mostrarMenu"><a routerLink="login">Login</a></li>
            <li routerLinkActive="active"  *ngIf="mostrarMenu"><a routerLink="solicitarLanche">Fazer pedido</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-button" data-activates="dropdown1">Idioma<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>